<!DOCTYPE html>
<html>
<head>
  <title>{{vote.title}} - Review</title>
<style>
body {  
  background-color: white;
  font-family: "Arial";
}

h1 {
  font-family: "Arial";
}

.neutral {
  backgroup-color: white;
  color: black;
}

.approve {
  background-color: green;
  color: white;
}

.disapprove {
  background-color: OrangeRed;
  color: white;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid LightGrey;
    padding: 2px;
}

th {
   background-color: RoyalBlue;
   color: white;
}

th.detail {
   background-color: RoyalBlue;
   color: white;
   text-align: right;
}

th.round1 {
   background-color: RoyalBlue;
   color: white;
}

th.round2 {
   background-color: Orange;
   color: white;
}

th.round3 {
   background-color: OrangeRed;
   color: white;
}

td.approve {
   background-color: Green;
   color: white;
}

td.disapprove {
   background-color: OrangeRed;
   color: white;
}


</style>
</head>
<body>
  <h1>{{vote.title}} - Review</h1>

  <table>
    <tr><th class="detail">Title</th><td>{{vote.title}}</td></tr>
    <tr><th class="detail">State</th><td>{{vote.state}}</td></tr>
    <tr><th class="detail">Created At</th><td>{{vote.createdAt}}</td></tr>
    <tr><th class="detail">Created By</th><td>{{vote.createdBy}}</td></tr>
    <tr><th class="detail">Started At</th><td>{{vote.startedAt}}</td></tr>
    <tr><th class="detail">Started By</th><td>{{vote.startedBy}}</td></tr>
    <tr><th class="detail">Ended At</th><td>{{vote.endedAt}}</td></tr>
    <tr><th class="detail">Ended By</th><td>{{vote.endedBy}}</td></tr>
    <tr><th class="detail">Votes Cast</th><td>{{totalSubmitted}}</td></tr>
    <tr><th class="detail">Last Token At</th><td>{{lastTokenAt}} ({{idleTime}})</td></tr>
  </table>

  <hr/>
  <h1>Voters</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Last Token At</th>
      <th>#Tokens</th>
      <th>#Submitted</th>
    </tr>

    {{#voters}}
    <tr>
      <td>{{name}}{{#if nickname}} ({{nickname}}){{/if}}</td>
      <td>{{lastTokenAt}}</td>
      <td>{{tokens}}</td>
      <td>{{submitted}}</td>
    </tr>
    {{/voters}}
  </table>
  <hr/>
  <h1>Candidates</h1>

  {{#rounds}}
    <h3>{{round}}{{suffix}} Voting Round</h3>
    <table>
      <tr>
        <th class="round{{round}}">#</th>
        <th class="round{{round}}">Candidate</th>
        <th class="round{{round}}">Joined</th>
        <th class="round{{round}}">Outcome</th>
        <th class="round{{round}}">#Approve</th>
        <th class="round{{round}}">#Neutral</th>
        <th class="round{{round}}">#Disapprove</th>
        <th class="round{{round}}">#Total</th>
      </tr>
      {{#candidates}}
      <tr id="{{id}}">
        <td>{{cnum}}</td>
        <td>{{name}}{{#if nickname}} ({{nickname}}){{/if}}</td>
        <td>{{joined}}</td>
        <td class="{{results.outcome}}">{{results.outcome}}</td>
        <td>{{results.approve}}</td>
        <td>{{results.neutral}}</td>
        <td>{{results.disapprove}}</td>
        <td>{{results.total}}</td>
      {{/candidates}}
    </table>
    {{/rounds}}

</body>
</html>